.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f1ec;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
  gap: 0;
}

.graph-list-container {
  flex: 2;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  background-color: #fffaf7;
}

.configurator-container {
  flex: 1;
  overflow-y: auto;
  background-color: #fdf7f3;
  border-left: 1px solid #ddd;
}
